@import "../../variables";

.choose {
  position: relative;

  height: 676px;
  background: rgb(244, 245, 247);
  z-index: -2;
  padding-left: 165px;

  &__title {
    height: 64px;
    color: rgb(45, 49, 77);
    font-family: $public-sans;
    font-size: 40px;
    font-weight: 300;
    line-height: 64px;
    letter-spacing: -0.73px;
    text-align: left;
    padding-top: 96px;
    margin-bottom: 16px;
    margin-left: 0px;
  }

  &__descr {
    width: 635px;
    height: 56px;
    color: rgb(149, 151, 165);
    font-family: $public-sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.31px;
    text-align: left;
  }
  &__card {
    &-img {
      width: 72px;
      height: 72px;
      margin-bottom: 40px;
    }
    &-title {
      height: 28px;
      color: rgb(45, 49, 77);
      font-family: $public-sans;
      font-size: 24px;
      font-weight: 300;
      line-height: 28px;
      letter-spacing: -0.43px;
      text-align: left;
      margin-bottom: 26px;
    }

    &-descr {
      width: 255px;
      height: 112px;
      color: rgb(149, 151, 165);
      font-family: $public-sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: -0.27px;
      text-align: left;
    }
  }
  &__cards {
    &-wrapper {
      display: flex;
      margin-top: 72px;
      gap: 30px;
    }
  }
}

@media (max-width: 1320px) {
  .choose {
    height: unset;

    padding: 0;
    &__title {
      width: 417px !important;
    }
    &__card {
      &-img {
        margin: 0 auto;
      }
      &-title {
        text-align: center;
        margin-top: 24px;
      }
      &-descr {
        text-align: center;
      }
    }
    &__title {
      margin: 0 auto;
    }
    &__descr {
      margin: 0 auto;
      width: 327px;
      height: 75px;
      color: rgb(149, 151, 165);
      font-family: $public-sans;
      font-size: 15px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: -0.23px;
      text-align: center;
      margin-top: 14px;
    }
    &__cards {
      &-wrapper {
        margin: 0 auto;
        justify-content: center;
        width: 70%;
        flex-wrap: wrap;
        margin-top: 56px;
        padding-bottom: 94px;
      }
    }
  }
}

@media (max-width: 740px) {
  .choose {
    &__title {
      width: 327px;
      height: 76px;
      color: rgb(45, 49, 77);

      font-size: 32px;
      font-weight: 300;
      line-height: 38px;
      letter-spacing: -0.57px;
      text-align: center;
    }

    &__descr {
      width: 327px;
      height: 75px;
      color: rgb(149, 151, 165);

      font-size: 15px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: -0.23px;
      text-align: center;
    }
  }
}
