@import "../../variables";

.footer {
  height: 191px;
  padding-left: 165px;
  background: rgb(45, 49, 77);
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__request {
    padding-right: 165px;
    padding-top: 49px;
    &-button {
      width: 163px;
      height: 44px;
      border-radius: 22px;

      background: linear-gradient(
        134.71deg,
        rgb(51, 211, 94) -43.027%,
        rgb(42, 182, 217) 56.553%
      );
      border: none;
      color: rgb(255, 255, 255);
      font-family: $public-sans;
      font-size: 14px;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 0px;
      cursor: pointer;
    }

    &-rigths {
      opacity: 0.5;
      color: rgb(255, 255, 255);
      font-family: $public-sans;
      font-size: 15px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: -0.23px;
      text-align: right;
      margin-top: 24px;
    }
  }
  &__nav {
    &-item {
      margin-bottom: 8px;
    }
    &-list {
      list-style: none;
      color: rgb(255, 255, 255);
      font-family: $public-sans;
      font-size: 15px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: -0.23px;
      text-align: left;
      margin: 0;
      margin-top: 49px;
    }
    &-first {
      padding: 0;
      padding-left: 131px;
    }
    &-item:hover {
      color: rgb(48, 200, 143);
      cursor: pointer;
    }
  }
  &__social {
    display: flex;
    &-logo {
      margin-top: 48px;
    }
    &-list {
      display: flex;
      gap: 13.3px;
      margin-top: 57px;
      padding: 0;
    }
    &-item {
      list-style: none;
    }
    &-item svg {
      transition: fill 0.3s ease;
      cursor: pointer;
    }

    &-item:hover svg path {
      fill: rgb(48, 200, 143);
    }
  }
}

@media (max-width: 1100px) {
  .footer {
    height: 510px;
    padding: 0;
    margin: 0;
    &__nav {
      &-list {
        padding: 0;
      }
    }
    &__wrapper {
      flex-direction: column;
    }

    &__social {
      width: 135px;
      flex-direction: column;
    }
  }
}
