@import "../../variables";
.nav {
  width: 100%;
  box-sizing: border-box;
  height: 80px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;

  position: relative;
  z-index: 1000 !important;

  &__wrapper {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__burger {
    display: none;
  }
  &__logo {
    margin-top: 9px;
    margin-left: -5px;
  }

  &__list {
    width: 304px;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 30px;

    &-item {
      position: relative;
      color: rgb(149, 151, 165);
      font-family: $public-sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: -0.11px;
      text-align: left;
      cursor: pointer;

      &:hover {
        color: rgb(45, 49, 77);
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 4px;
        background: linear-gradient(
          134.71deg,
          rgb(51, 211, 94) -49.181%,
          rgb(42, 182, 217) 50.399%
        );
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 40px;
      }
    }
  }

  &__button {
    width: 163px;
    margin-top: -5px;
    height: 45px;
    margin-top: 0;
    padding: 5px 20px;
    border-radius: 22px;
    background: linear-gradient(
      134.71deg,
      rgb(51, 211, 94) -43.027%,
      rgb(42, 182, 217) 56.553%
    );
    color: rgb(255, 255, 255);
    font-family: $public-sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    border: none;
    cursor: pointer;

    &:hover {
      opacity: 0.4;
    }
  }
}

@media (max-width: 1140px) {
  .nav {
    &__wrapper {
      justify-content: space-around;
    }
  }
}

@media (max-width: 740px) {
  .nav {
    max-width: 740px;
    &__list {
      display: none;
    }
    &__wrapper {
      width: 90%;
      justify-content: space-between;
    }
    &__burger {
      display: block;
    }
    &__button {
      display: none;
    }
  }
}
